/* Bootstrap tuning */
.jumbotron {text-align: center;}

div.container.content {
    background-color: rgb(247, 245, 255);
    border-radius: 10px;
    -moz-border-radius: 10px;
    padding:15px 20px 0px;
    border: 1px dashed rgb(204, 204, 204); }

div.container.content div.nav a {
    color: green;
    font-weight: bold;
}